html,
body
  margin: 0
  padding: 0
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  min-height: 100%

h1
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

.account
  left: 0
  right: 0
  top: 0
  bottom: 0
  height: 100vh
  display: grid
  place-items: center center

#acct
  display: flex
  position: fixed
  width: 15em
  flex-direction: column

#acct-stat
  display: flex
  position: fixed
  flex-direction: row
  white-space: nowrap
  left: 0
  top: 0
  padding: .5em

#input
  position: fixed
  display: flex
  left: 0
  right: 0
  bottom: 0
  height: 2em
  margin: none
  padding: none
  align-items: stretch

#input > *
  height: 2em
  margin: none

#msgbox
  flex-grow: 2

#send
  border: none
  border-radius: 0

.message
  border: 2px #000000
  border-radius: 0px
  display: flex
  flex-direction: row
  align-items: center

.message-sender
  padding-right: 1em
  padding-left: 1em

.message-body
  flex-grow: 2

.messages
  margin-top: 2em

.message-sent
  background-color: #f7edea

.message-mentioned
  background-color: #aef78f

.message-timestamp
  font-size: .7em
  font-weight: 200
  opacity: .75
  width: 5em

#auth
  white-space: nowrap

#auth-status
  color: #78cc59
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  white-space: nowrap
  margin-left: 1em
